<% include ../partials/boilerplate %>

<h2>brand: <%= data.hits[0].fields.brand_name %></h2>

<h2>food: <%= data.hits[0].fields.item_name %></h2>

<h2>calories: <%= data.hits[0].fields.nf_calories %></h2>

<h2>total fat: <%= data.hits[0].fields.nf_total_fat %></h2>

<h2>carbs: <%= data.hits[0].fields.nf_total_carbohydrate %></h2>

<h2>Cholesterol: <%= data.hits[0].fields.nf_cholesterol %></h2>
<% include ../partials/end %>

