<% include ../partials/boilerplate2 %>
<h1> Nutrition Info</h1>
<% for (let nutri of data) { %>
<table id="t">
  <thead>
    <tr>
      <th>Food</th>
      <th>Brand</th>
      <th>Calories</th>
      <th>Fiber</th>
      <th>Carbohydrates</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= data[0].food %></td>
      <td><%= data[0].brand %></td>
      <td><%= data[0].calories %></td>
      <td><%= data[0].fiber %></td>
      <td><%= data[0].carbs %></td>
      <td><%= data[0].fat %></td>
    </tr>
  </tbody>
  <tfoot>
</table>

  <a class="edit" href='/nutri/<%= nutri.id%>/edit'>Edit it!</a>
  <div class='clear'></div>
  <form method='POST' action='/nutri/<%= nutri.id %>?_method=DELETE'>
  <input class="delete" type='submit' value='Delete!' />
  </form>
  <% }%>

<% include ../partials/end %>
