<% include ../partials/boilerplate2 %>

<% for (let nutri of data) { %>
<h3>food: <%= data[0].food  %></h3>
<h3>brand: <%= data[0].brand  %></h3>
<h3>calories: <%= data[0].calories  %></h3>
<h3>fiber: <%= data[0].fiber  %></h3>
<h3>carbs: <%= data[0].carbs  %></h3>
<h3>fat: <%= data[0].fat %></h3>
  <a href='/nutri/<%= nutri.id%>/edit'>Edit it!</a>
  <form method='POST' action='/nutri/<%= nutri.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form>
  <% }%>

<% include ../partials/end %>
