<% include ../partials/boilerplate %>

<div class="editpage">
<form method='POST' action='/nutri/<%= nutri.id %>?_method=PUT'>
  <input name='food' type='text' value='<%= nutri.food %>' />
  <input name='brand' type='text' value='<%= nutri.brand %>' />
  <input name='calories' type='text'  value='<%= nutri.calories %>' />
  <input name='fiber' type='text' value='<%= nutri.fiber %>' />
  <input name='carbs' type='text' value='<%= nutri.carbs %>' />
  <input name='fat' type='text'  value='<%= nutri.fat %>' />
<input type='submit' value='Edit it!' />
      </form>
</div>
<% include ../partials/end %>
