<% include ../partials/boilerplate2 %>

<h1> Nutritional Info</h1>
<% for (let nutri of data) { %>
<table id="t">
  <thead>
    <tr>
      <th>Food</th>
      <th>Brand</th>
      <th>Calories</th>
      <th>Fiber</th>
      <th>Carbohydrates</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= data[0].food %></td>
      <td><%= data[0].brand %></td>
      <td><%= data[0].calories %></td>
      <td><%= data[0].fiber %></td>
      <td><%= data[0].carbs %></td>
      <td><%= data[0].fat %></td>
    </tr>
  </tbody>
  <tfoot>
</table>
  </form>
  <% }%>

<div>
  <form method='POST' action='/nutri/<%= data.id %>?_method=SET'>
    <input name='food' type='text' value='<%= data.food %>' placeholder='food' required/>
      <div class='clear'></div>
    <input name='brand' type='text' value='<%= data.brand %>' placeholder='brand' required/>
      <div class='clear'></div>
    <input name='calories' type='text'  value='<%= data.calories %>' placeholder='calories' required/>
      <div class='clear'></div>
    <input name='fiber' type='text' value='<%= data.fiber %>' placeholder='fiber' required/>
      <div class='clear'></div>
    <input name='carbs' type='text' value='<%= data.carbs %>' placeholder='carbs' required/>
      <div class='clear'></div>
    <input name='fat' type='text'  value='<%= data.fat %>' placeholder='fat' required/>
      <div class='clear'></div>
    <input type='submit' value='Edit it!' />
  </form>
</div>
<% include ../partials/end %>
